@charset "UTF-8";
@import "reset";
@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap');

h1{
    position: fixed; top: 80px; left: 80px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
    z-index: 5;
    a{
        display: block;
        width: 46px; height: 46px;
        background: #fff;
        border-radius: 5px;
        text-align: center;
        @include font($s: 21px, $lh: 46px, $c: rgba(39, 39, 39, 0.3));
        cursor: pointer;
    }
}


#swiper-container{
    width: 100%; height: 100vh;
    position: relative;
    overflow: hidden;

    .background li{
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        transition: opacity 0.3s;
        opacity: 0;

        background: #666;
        &.on{opacity: 1;}

        &:nth-of-type(1){@include bg($img: url(../img/bg1.jpg))}
        &:nth-of-type(2){@include bg($img: url(../img/bg2.jpg))}
        &:nth-of-type(3){@include bg($img: url(../img/bg3.jpg))}
        &:nth-of-type(4){@include bg($img: url(../img/bg4.jpg))}
    }

    .swiper-wrapper{
        width: 100%; height: 100%;
        .swiper-slide{
            width: 100%; height: 100%;
            // padding: 100px 0; box-sizing: border-box;
            overflow: hidden;
            .inner{
                width: 100%; height: 100%; 
                position: relative;
                &.first{
                    .side{
                        position: absolute; top: 0; left: 0;
                        width: 190px; height: 100%;
                        display: flex; flex-direction: column;
                        justify-content: space-evenly;
                        opacity: 0;
                        transition: 0.5s 1.6s;
                        a{
                            @include font($s:14px, $c: #fff);
                            letter-spacing: 1px;
                            transform: rotate(-90deg);
                            position: relative;
                            &::after{
                                content: "";
                                position: absolute; top: -5px; left: 18px;
                                width: 20px; height: 20px;
                                border-radius: 11px;
                                border: 1px solid #fff;
                                animation: circle 1s linear infinite;
                                display: none;
                            }
                            &:hover::after{
                                display: block;
                            }
                        }
                    }
                    .sideSns{
                        position: absolute; top: 0; right: 0;
                        width: 180px; height: 100%;
                        display: flex; flex-direction: column; align-items: center;
                        justify-content: center;
                        opacity: 0;
                        transition: 0.5s 1.6s;
                        a{
                            display: inline-block;
                            @include font($s:18px, $c: #fff);
                            margin-bottom: 40px;
                            position: relative;
                            &::after{
                                content: "";
                                position: absolute; top: -2px; left: -2px;
                                width: 20px; height: 20px;
                                border-radius: 11px;
                                border: 1px solid #fff;
                                animation: circle 1s linear infinite;
                                display: none;
                            }
                            &:hover::after{
                                display: block;
                            }
                        }
                    }

                    .intro{
                        position: absolute; top: 25%; left: 20vw;
                        >h2{
                            padding-bottom: 60px;
                            span{
                                display: block;
                                @include font($w: 700, $s:50px, $lh: 1.3, $f: "Lexend",$c: #fff);
                                clip-path: inset(100% 0% 0% 0%);
                                opacity: 0;
                                transition: 0.5s 0.5s;
                                &:nth-of-type(2){transition-delay: 0.7s;}
                                &:nth-of-type(3){transition-delay: 0.9s;}
                            }
                            
                        }
                        p{
                            width: 500px;
                            @include font($s: 14px, $lh: 1.75,$c: rgba(255, 255, 255, 0.7));
                            transform: translateY(30px);
                            opacity: 0;
                            transition: transform 0.5s 1.4s, opacity 0.5s 1.4s;
                            padding-bottom: 80px;
                        }
                        >span{
                            display: inline-block;
                            border-radius: 30px;
                            padding: 5px 20px;
                            border: 1px solid rgba(255, 255, 255, 0.7);
                            box-sizing: border-box;
                            cursor: pointer;
                            @include font($s: 14px, $lh: 1.75,$f: "Lexend", $c: rgba(255, 255, 255, 0.7));
                            opacity: 0;
                            transform: translateY(30px);
                            transition: transform 0.5s 1.6s, opacity 0.5s 1.6s;
                            position: relative;
                            &::after{
                                content: "view detail";
                                position: absolute; top: 0; left: 0;
                                width: 100%; height: 100%;
                                @include font($s: 14px, $lh: 2.5,$f: "Lexend", $c: rgba(0, 0, 0, 0.7));
                                text-align: center;
                                background: #fff; 
                                border-radius: 30px;
                                clip-path: inset(0% 100% 0% 0%);
                                transition: 0.5s;
                            }
                            &:hover::after{clip-path: inset(0% 0% 0% 0%);}
                            
                        }
                    }
                }
                &.second{
                }
                
                
            }
            &.swiper-slide-active{
                .first{
                    .side, .sideSns{
                        opacity: 1;
                    }
                    .intro{
                        h2 span{clip-path: inset(0% 0% 0% 0%); opacity: 1;}
                        p{transform: translateY(0px); opacity: 0.7;}
                        span{transform: translateY(0px); opacity: 1;}
                    }
                } 
            } 

        }

    }

    .swiper-button-prev, .swiper-button-next{
        width: 48px; height: 48px;
        &::before{
            content: "";
            position: absolute; top: 0; left: 0;
            width: inherit; height: inherit;
            border: 2px solid rgba(255, 255, 255, 0.3);
            border-radius: 32px;
            transform-origin: 50% 50%;
        }
        &::after{
            position: absolute; 
            top: 50%; left: 50%; margin-top: -8px; margin-left: -3px;
            width: inherit; height: inherit;
            font-size: 18px;
            color: #fff;
        }
        &:hover::before{
            border-top: 2px solid #fff;
            animation: rotate 1s ease infinite;
        }
    } 
    .swiper-button-prev{top: auto; left: auto; bottom: 80px; right: 250px;}
    .swiper-button-next{top: auto; left: auto; bottom: 80px; right: 150px;}
    .swiper-pagination{
        position: absolute;
        top: 80px; right: 80px; bottom: auto;
        // top: 65px; left: 150px; bottom: auto;
        width: auto;
        text-align: right;
        span{
            width: auto; height: auto; border-radius: none;
            background: transparent;
            margin-left: 30px;
            opacity: 0.5;
            border-radius: 0; 
            padding-bottom: 5px;
            border-bottom: 2px solid transparent;
            transition: 0.5s;
            @include font($w: 400, $s: 12px, $c: #fff);
        }
        .swiper-pagination-bullet-active{
            border-bottom: 2px solid #fff;
            border-radius: 1px;
            opacity: 1;
        }
    }
}

@keyframes rotate{ 100% { transform: rotate(360deg); } }
@keyframes circle{ 
    0%{transform: scale(0); opacity: 0;}
    50%{transform: scale(1); opacity: 0.7;}
    100%{transform: scale(3); opacity: 0;} 
}
