@charset "UTF-8";
@import "reset";
@import "mixin";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700;900&display=swap');

h1{
    position: fixed; top: 50px; left: 50px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.08);
    z-index: 5;
    a{
        display: block;
        width: 46px; height: 46px;
        background: #fff;
        border-radius: 5px;
        text-align: center;
        @include font($s: 21px, $lh: 46px, $c: rgba(39, 39, 39, 0.5));
        cursor: pointer;
    }
}

#swiper-container{
    width: 100%; height: 100vh;
    position: relative;
    overflow: hidden;

    .background li{
        position: absolute; top: 0; left: 0;
        width: 100%; height: 100%;
        transition: opacity 0.3s;
        opacity: 0;

        
        &.on{
            opacity: 1;
        }

        &:nth-of-type(1){@include bg($img: url(../img/bg1.jpg))}
        &:nth-of-type(2){@include bg($img: url(../img/bg2.jpg))}
        &:nth-of-type(3){@include bg($img: url(../img/bg3.jpg))}
        &:nth-of-type(4){@include bg($img: url(../img/bg4.jpg))}
    }

    .swiper-wrapper{
        width: 100%; height: 100%;
        .swiper-slide{
            // width: 90%; height: 75%;
            // top: 16vh;
            width: 100%; height: 100%;
            padding: 100px; box-sizing: border-box;
            overflow: hidden;
            position: relative;
            .inner{
                width: 100%; height: 100%; 
                border: 1px solid red;
                
            }

        }

    }

    .swiper-button-prev, .swiper-button-next{
        width: 60px; height: 60px;
        &::before{
            content: "";
            position: absolute; top: 0; left: 0;
            width: inherit; height: inherit;
            border: 2px solid rgba(255, 255, 255, 0.3);
            border-radius: 32px;
            transform-origin: 50% 50%;
        }
        &::after{
            position: absolute; 
            top: 50%; left: 50%; margin-top: -11px; margin-left: -4px;
            width: inherit; height: inherit;
            font-size: 24px;
            color: #fff;
        }
        &:hover::before{
            border-top: 2px solid #fff;
            animation: rotate 1s ease infinite;
        }
    } 
    .swiper-button-prev{top: auto; left: auto; bottom: 50px; right: 180px;}
    .swiper-button-next{top: auto; left: auto; bottom: 50px; right: 80px;}
    .swiper-pagination{
        position: absolute;
        top: 65px; left: 150px; bottom: auto;
        width: auto;
        text-align: right;
        span{
            width: auto; height: auto; border-radius: none;
            background: transparent;
            margin-right: 30px;
            opacity: 0.5;
            border-radius: 0; 
            padding-bottom: 5px;
            border-bottom: 2px solid transparent;
            transition: 0.5s;
            @include font( $s: 16px, $c: #fff);
        }
        .swiper-pagination-bullet-active{
            border-bottom: 2px solid #fff;
            border-radius: 1px;
            opacity: 1;
        }
    }
}

@keyframes rotate{ 100% { transform: rotate(360deg); } }
